UltimatePlugFront/Connected Services/ServiceReference1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52630/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52630/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52630/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_isReg_InputMessage">
    <wsdl:part name="parameters" element="tns:isReg" />
  </wsdl:message>
  <wsdl:message name="IService_isReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:isRegResponse" />
  </wsdl:message>
  <wsdl:message name="IService_register_InputMessage">
    <wsdl:part name="parameters" element="tns:register" />
  </wsdl:message>
  <wsdl:message name="IService_register_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_logintype_InputMessage">
    <wsdl:part name="parameters" element="tns:logintype" />
  </wsdl:message>
  <wsdl:message name="IService_logintype_OutputMessage">
    <wsdl:part name="parameters" element="tns:logintypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getHirerID_InputMessage">
    <wsdl:part name="parameters" element="tns:getHirerID" />
  </wsdl:message>
  <wsdl:message name="IService_getHirerID_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHirerIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getHirerMail_InputMessage">
    <wsdl:part name="parameters" element="tns:getHirerMail" />
  </wsdl:message>
  <wsdl:message name="IService_getHirerMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHirerMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:addProduct" />
  </wsdl:message>
  <wsdl:message name="IService_addProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:addProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getbyType_InputMessage">
    <wsdl:part name="parameters" element="tns:getbyType" />
  </wsdl:message>
  <wsdl:message name="IService_getbyType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getbyTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getbySuburb_InputMessage">
    <wsdl:part name="parameters" element="tns:getbySuburb" />
  </wsdl:message>
  <wsdl:message name="IService_getbySuburb_OutputMessage">
    <wsdl:part name="parameters" element="tns:getbySuburbResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:getSingle" />
  </wsdl:message>
  <wsdl:message name="IService_getSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSingleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_hire_InputMessage">
    <wsdl:part name="parameters" element="tns:hire" />
  </wsdl:message>
  <wsdl:message name="IService_hire_OutputMessage">
    <wsdl:part name="parameters" element="tns:hireResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvent" />
  </wsdl:message>
  <wsdl:message name="IService_getEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventResponse" />
  </wsdl:message>
  <wsdl:message name="IService_confirmHire_InputMessage">
    <wsdl:part name="parameters" element="tns:confirmHire" />
  </wsdl:message>
  <wsdl:message name="IService_confirmHire_OutputMessage">
    <wsdl:part name="parameters" element="tns:confirmHireResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUserMail_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserMail" />
  </wsdl:message>
  <wsdl:message name="IService_getUserMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getProducts" />
  </wsdl:message>
  <wsdl:message name="IService_getProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUserProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserProducts" />
  </wsdl:message>
  <wsdl:message name="IService_getUserProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getHirerSuburb_InputMessage">
    <wsdl:part name="parameters" element="tns:getHirerSuburb" />
  </wsdl:message>
  <wsdl:message name="IService_getHirerSuburb_OutputMessage">
    <wsdl:part name="parameters" element="tns:getHirerSuburbResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUserSuburb_InputMessage">
    <wsdl:part name="parameters" element="tns:getUserSuburb" />
  </wsdl:message>
  <wsdl:message name="IService_getUserSuburb_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserSuburbResponse" />
  </wsdl:message>
  <wsdl:message name="IService_searchProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:searchProduct" />
  </wsdl:message>
  <wsdl:message name="IService_searchProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchProductResponse" />
  </wsdl:message>
  <wsdl:message name="IService_searchAllP_InputMessage">
    <wsdl:part name="parameters" element="tns:searchAllP" />
  </wsdl:message>
  <wsdl:message name="IService_searchAllP_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchAllPResponse" />
  </wsdl:message>
  <wsdl:message name="IService_addDriver_InputMessage">
    <wsdl:part name="parameters" element="tns:addDriver" />
  </wsdl:message>
  <wsdl:message name="IService_addDriver_OutputMessage">
    <wsdl:part name="parameters" element="tns:addDriverResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getDriverBySuburb_InputMessage">
    <wsdl:part name="parameters" element="tns:getDriverBySuburb" />
  </wsdl:message>
  <wsdl:message name="IService_getDriverBySuburb_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDriverBySuburbResponse" />
  </wsdl:message>
  <wsdl:message name="IService_isDriverReg_InputMessage">
    <wsdl:part name="parameters" element="tns:isDriverReg" />
  </wsdl:message>
  <wsdl:message name="IService_isDriverReg_OutputMessage">
    <wsdl:part name="parameters" element="tns:isDriverRegResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IService_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="isReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/isReg" message="tns:IService_isReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/isRegResponse" message="tns:IService_isReg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="register">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/register" message="tns:IService_register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/registerResponse" message="tns:IService_register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="logintype">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/logintype" message="tns:IService_logintype_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/logintypeResponse" message="tns:IService_logintype_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHirerID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getHirerID" message="tns:IService_getHirerID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getHirerIDResponse" message="tns:IService_getHirerID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHirerMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getHirerMail" message="tns:IService_getHirerMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getHirerMailResponse" message="tns:IService_getHirerMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addProduct" message="tns:IService_addProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addProductResponse" message="tns:IService_addProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getbyType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getbyType" message="tns:IService_getbyType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getbyTypeResponse" message="tns:IService_getbyType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getbySuburb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getbySuburb" message="tns:IService_getbySuburb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getbySuburbResponse" message="tns:IService_getbySuburb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getSingle" message="tns:IService_getSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getSingleResponse" message="tns:IService_getSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="hire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/hire" message="tns:IService_hire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/hireResponse" message="tns:IService_hire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getEvent" message="tns:IService_getEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getEventResponse" message="tns:IService_getEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="confirmHire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/confirmHire" message="tns:IService_confirmHire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/confirmHireResponse" message="tns:IService_confirmHire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUserMail" message="tns:IService_getUserMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserMailResponse" message="tns:IService_getUserMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getProducts" message="tns:IService_getProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getProductsResponse" message="tns:IService_getProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUserProducts" message="tns:IService_getUserProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserProductsResponse" message="tns:IService_getUserProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getHirerSuburb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getHirerSuburb" message="tns:IService_getHirerSuburb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getHirerSuburbResponse" message="tns:IService_getHirerSuburb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUserSuburb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUserSuburb" message="tns:IService_getUserSuburb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserSuburbResponse" message="tns:IService_getUserSuburb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/searchProduct" message="tns:IService_searchProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/searchProductResponse" message="tns:IService_searchProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchAllP">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/searchAllP" message="tns:IService_searchAllP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/searchAllPResponse" message="tns:IService_searchAllP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addDriver">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/addDriver" message="tns:IService_addDriver_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/addDriverResponse" message="tns:IService_addDriver_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDriverBySuburb">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getDriverBySuburb" message="tns:IService_getDriverBySuburb_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getDriverBySuburbResponse" message="tns:IService_getDriverBySuburb_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isDriverReg">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/isDriverReg" message="tns:IService_isDriverReg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/isDriverRegResponse" message="tns:IService_isDriverReg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUser" message="tns:IService_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUserResponse" message="tns:IService_getUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isReg">
      <soap:operation soapAction="http://tempuri.org/IService/isReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="register">
      <soap:operation soapAction="http://tempuri.org/IService/register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logintype">
      <soap:operation soapAction="http://tempuri.org/IService/logintype" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHirerID">
      <soap:operation soapAction="http://tempuri.org/IService/getHirerID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHirerMail">
      <soap:operation soapAction="http://tempuri.org/IService/getHirerMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addProduct">
      <soap:operation soapAction="http://tempuri.org/IService/addProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getbyType">
      <soap:operation soapAction="http://tempuri.org/IService/getbyType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getbySuburb">
      <soap:operation soapAction="http://tempuri.org/IService/getbySuburb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSingle">
      <soap:operation soapAction="http://tempuri.org/IService/getSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hire">
      <soap:operation soapAction="http://tempuri.org/IService/hire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvent">
      <soap:operation soapAction="http://tempuri.org/IService/getEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="confirmHire">
      <soap:operation soapAction="http://tempuri.org/IService/confirmHire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserMail">
      <soap:operation soapAction="http://tempuri.org/IService/getUserMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProducts">
      <soap:operation soapAction="http://tempuri.org/IService/getProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserProducts">
      <soap:operation soapAction="http://tempuri.org/IService/getUserProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHirerSuburb">
      <soap:operation soapAction="http://tempuri.org/IService/getHirerSuburb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserSuburb">
      <soap:operation soapAction="http://tempuri.org/IService/getUserSuburb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchProduct">
      <soap:operation soapAction="http://tempuri.org/IService/searchProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchAllP">
      <soap:operation soapAction="http://tempuri.org/IService/searchAllP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addDriver">
      <soap:operation soapAction="http://tempuri.org/IService/addDriver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDriverBySuburb">
      <soap:operation soapAction="http://tempuri.org/IService/getDriverBySuburb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isDriverReg">
      <soap:operation soapAction="http://tempuri.org/IService/isDriverReg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IService/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52630/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>